// Colors

$orange: #ff9514;
$dark-gray: #575757;
$light-gray: #f3f3f4;
$gray: #e1e1e1;
$gray_1: #333333;
$black: #111111;
$light-orange: rgba(255, 166, 57, 0.4);
$graphit: #333e48;

//  Device size

$phone-min-width: 320px;
$tablet-min-width: 768px;
$big-tablet-min-width: 1024px;
$desktop-tablet-min-width: 1440px;
